**/venv/
**/__pycache__/

**/.env

**/__MACOSX/

**/.ipynb_checkpoints/

*.~lock.*

**/generation/responses/

**/data/varfree_lf/
**/data/english/
**/data/metrics/

**/output/varfree_lf/
**/output/english/
**/output/metrics/
